/* tags */

html, body, header, nav, section, article, h1, h3, h4, p, ul, li, a, img {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

body {
  font-family: "proxima-nova", "Helvetica Neue", "sans-serif";
  background-color: #52C2C7;
  color: #fff;
  font-size: 18px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  display: block;
}

h1 {
  font-size: 36px;
  font-weight: 100;
  padding: 20px;
}

h3 {
  font-size: 24px;
  font-weight: 100;
  padding: 10px;
}

h4 {
  font-size: 18px;
}

p {
  font-weight: 100;
}

/* utils */

.group:after {
  content: "";
  clear: both;
  display: block;
}

/* main */

.wrap {
  width: 700px;
  height: auto;
  margin: 0 auto;
  background-color: #337D80;
  border-radius: 3px
}

.top-header {
  margin-top: 10px;
  text-align: center;
  padding: 20px 20px 0 20px;
}

.nav-bar {
  width: 501px;
  margin: 0 auto;
}

.nav-bar > ul > li {
  float: left;
}

.nav-link {
  color: #fff;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 2px;
}

.nav-link:hover,
.nav-link-visited {
  border: 1px solid #fff;
}

/* content */

#content {
  width: 700px;
}

.dynamic {
  text-align: center;
  padding: 0 20px 20px 20px;
  display: none;
}

.show {
  display: block;
}

.project-link {
  color: #fff;
  padding: 10px;
}

.project-link:hover {
  text-decoration: underline;
}

.project-screenshot {
  width: 654px;
  margin: 20px 0;
  border: 3px solid #ccc;
}

.skill-image {
  display: inline-block;
  height: 50px;
  /*-webkit-filter: grayscale(100%);*/
  padding: 10px;
}

.contact-link:hover {
  text-decoration: underline;
}

.footer {
  border-top: 1px solid #ccc;
}

.icon-list-li {
  float: left;
}

.icon-list-li > ul > li {
  float: left;
  padding: 5px;
}

.skill-image,
.icon {
  opacity: 0.8;
}

.skill-image:hover,
.icon:hover {
  opacity: 1.0;
}

.copyright-li {
  float: right;
}

.copyright {
  padding: 10px;
  font-size: 16px;
}