html, body, nav, section, article, h1, h3, p, ul, li, a {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

body {
  font-family: "proxima-nova", "Helvetica Neue", "sans-serif";
  background-color: #52C2C7;
  color: #fff;
  font-size: 18px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.wrap {
  width: 700px;
  height: auto;
  margin: 0 auto;
  background-color: #337D80;
  border-radius: 3px
}

header {
  margin-top: 10px;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 36px;
  font-weight: 100;
  padding: 20px;
}

h3 {
  font-size: 24px;
  font-weight: 100;
  padding: 10px;
}

p {
  font-weight: 100;
}

.nav-bar {
  width: 311px;
  margin: 0 auto;
}

.nav-bar > ul > li {
  float: left;
}

.nav-link {
  color: #fff;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 2px;
}

.nav-link:hover,
.nav-link-visited {
  border: 1px solid #fff;
}

#content {
  width: 700px;
}

.project {
  text-align: center;
  padding: 0 20px 20px 20px;
  display: none;
}

.project-show {
  display: block;
}

#footer {
  border-top: 1px solid #ccc;
}

#footer > ul > li {
  float: right;
}

.copyright {
  padding: 10px;
  font-size: 16px;
}